{{ define "main" }}
  <h1 class="title">{{ .Site.Title }}</h1>

  {{ .Content }}


<h2>Live sites</h2>

  <p><i>by Leon</i></p>

  {{/* repeat same loop 4x, group by status and owner */}}

  {{ range sort (where (where .Site.RegularPages "Params.status" "Live") "Params.owner" "Leon") "Params.estimated_value" "desc" }}

    <ul>

      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
          - built with {{ .Params.backend }}, hosted on {{ .Params.hosting }}
          via {{ .Params.registrar }} until {{ .Params.expires | dateFormat "Jan 2, 2006" }}
      </li>

    </ul>

  {{ end }}


  {{/* repeat same loop 4x, group by status and owner */}}

  {{ range sort (where (where .Site.RegularPages "Params.status" "Live") "Params.owner" "Grace") "Params.estimated_value" "desc" }}

    <ul>

      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
          - built with {{ .Params.backend }}, hosted on {{ .Params.hosting }}
          via {{ .Params.registrar }} until {{ .Params.expires | dateFormat "Jan 2, 2006" }}
      </li>

    </ul>

  {{ end }}

<h3>Planned sites</h3>

  {{ range where .Site.RegularPages "Params.status" "Planned" }}

    <ul>

      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
          - {{ .Params.description }}.
          {{ .Params.registrar }} registered until {{ .Params.expires | dateFormat "Jan 2, 2006" }}
      </li>

    </ul>

  {{ end }}

<h4>Upcoming renenewals</h4>

  TBD

{{ end }}
